@property --dark {
  syntax: "<color>";
  inherits: false;
  initial-value: #343434;
}
@property --light {
  syntax: "<color>";
  inherits: false;
  initial-value: #d6d6d6;
}

body {
  background-color: #343434;
}

h1{
  font-family: "blenny trial";
  font-size: 60pt;
  height: 12vh;
  width: 100vw;
  background-color: #343434;
  margin: 0rem;
  overflow: hidden;
}

img.gallery{
  width: 40vmin;
  height: 40vmin;
  object-fit: cover;
  object-position: center;
  border-radius: 5%;
}

#image-track{
  padding: 5%;
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 0%;
  right: 0%;
  transform: translate(0%,0%);
}

header {
  width: 100%;
}

img.logo {
  width: 20%;
  border-radius: 10%;
  float: left;
  margin: 10px;
}

p.caption {
  font-weight: 12;
}
