:root{
  --light: #d9d9d9;
  --dark: #343434;
  -green: #39512a;
  --blue: #33596b;
  --0range: #d9603d;
  --yellow: #ffba46;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: var(--light);
  font-style: normal;
  font-size: 3vh;
  text-decoration: none;
}

a:active{
  color: var(--yellow);
}

body {
  /* align our svg to the center of the viewport both horizontally and vertically */
  overflow: hidden;
  scroll-behavior: smooth;
}

h1{
  font-family: 'Blenny Trial';
  font-style: normal;
  color: #d9d9d9;
  position: absolute;
  width: 100vw;
  height: auto;

}

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #343434;
  z-index: -1;
}

svg {
  /* a perfectly square <svg> element that will never overflow the viewport */
  height: 100vh;
  width: 100vw;
}

#green {
  position: absolute;
  overflow: hidden;
  transform: translate(10%, 10%);
  scale: 1.5;
}
#blue {
  position: absolute;
  overflow: hidden;
  transform: translate(-40%, 20%);
  scale: 1.5;
}
#yellow {
  position: absolute;
  overflow: hidden;
  transform: translate(-50%, -40%);
  scale: 1.5;
}
#orange {
  position: absolute;
  overflow: hidden;
  transform: translate(15%, -40%);
  scale: 1.5;
}

#blur {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

#logo {
  width: 15%;
  height: auto;
  display: block;
  transform: translate(42vw, 36vh);
  filter: drop-shadow(black 30px 30px 10px);
}

#texture {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(200px);
}

.portfolio{
  position: absolute;
  top: 110vw;
}

#navigation{
  display: none;
  width: 50vw;
  float: right;
}

ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 2vh;
  padding-right: 2vw;
  
}

.nav-item{
  display: inline;
  font-family: "Blenny Trial";
  
}