* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* align our svg to the center of the viewport both horizontally and vertically */
  overflow: hidden;
}

.background {
  height: 100vh;
  width: 100vw;
  background-color: #343434;
}

svg {
  /* a perfectly square <svg> element that will never overflow the viewport */
  height: 100vh;
  width: 100vw;
}

#green {
  position: absolute;
  overflow: hidden;
  transform: translate(10%, 10%);
  scale: 1.5;
}
#blue {
  position: absolute;
  overflow: hidden;
  transform: translate(-40%, 20%);
  scale: 1.5;
}
#yellow {
  position: absolute;
  overflow: hidden;
  transform: translate(-50%, -40%);
  scale: 1.5;
}
#orange {
  position: absolute;
  overflow: hidden;
  transform: translate(15%, -40%);
  scale: 1.5;
}

#blur {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

#logo {
  width: 15%;
  height: auto;
  display: block;
  transform: translate(42vw, 36vh);
  filter: drop-shadow(black 30px 30px 10px);
}

#texture {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(500px);
}
